.app {
  flex: 1 1 auto;
  display: flex;
  overflow: hidden;
  height: calc(100% - 50px);
}

.sidebar {
  padding: 5px;
  width: 300px;
  height: 100%;
  display: flex; /* defines flexbox */
  flex-direction: column; /* top to bottom */
  justify-content: space-between; /* first item at start, last at end */
}

.main {
  flex: 1 1 auto;
}

.form-group {
  margin-bottom: 5px;
}

.active {
  color: black;
  font-weight: bold;
  cursor: text;
}

.active:hover {
  text-decoration-line: none;
}

.active:visited {
  color: black;
}
